#title{
margin-top:5%;
}
#center-container{
    display:flex;
    background-color: ghostwhite;
    padding:50px;
}
img{
    height:100%;
    margin-left: 25%;
}
#left-box{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
#right-box{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
#left-box div{
    height: 25%;
    justify-self: center;
}
#right-box div{
    height: 25%;
    justify-self: center;
}
#image-2{
    width: 46.2%;
}
#lift-text{
    margin-top: -2%;
}
p{
    text-indent: 30px;
    font-size: 21;
    border-style: groove;
    border-width: 3px;
    border-color: black;
    padding: 5px;
}
#image-2-text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-24%, -295%);
    color:black;
    text-indent: none;
    width:70%;
}

#cf {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }
  
  #cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
    opacity:0;
  }
  