#title{
margin-top:6%;
}
#center-container{
    display:flex;
    background-color: ghostwhite;
    padding:50px;
}
img{
    height:100%;
    margin-left: 25%;
}
#left-box{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
#right-box{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
#left-box div{
    height: 25%;
    justify-self: center;
}
#right-box div{
    height: 25%;
    justify-self: center;
}
#image-2{
    width: 46.2%;
}
#lift-text{
    margin-top: -2%;
}
p{
    text-indent: 30px;
    font-size: 21;
}
